# Node Environment
NODE_ENV=development
PORT=8080

# Database Configuration
MONGO_URI=mongodb://localhost:27017/dbname
REDIS_URI=redis://default:password@localhost:6379

# Services Configuration
# RESEND_API_KEY=your_resend_api_key_here
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=your_email_user_here
EMAIL_PASS=your_email_pass_here
EMAIL_FROM=your_email_from_here

# Security
JWT_ACCESS_SECRET=jwtaccesssecret
JWT_ACCESS_EXPIRES_IN=900 # 15m in seconds
JWT_REFRESH_SECRET=jwtrefreshsecret
JWT_REFRESH_EXPIRES_IN=604800 # 7d in seconds

# CORS Configuration
CLIENT_URL=http://localhost:5173

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Argon2 Configuration
ARGON2_MEMORY=16384
ARGON2_PASSES=2
ARGON2_PARALLELISM=1
ARGON2_TAG_LENGTH=32
ARGON2_ALGORITHM=argon2id
ARGON2_VERSION=19